h1{
  font-size: 90px;
  margin: 0;
  padding: 0;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
body{
  color: #40514E;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr{
  border: dotted #009DAE 6px;
  width: 4%;
  margin: 100px auto;
  border-bottom: none;
}
.top-c{
  position: relative;
  background-color: #EAF6F6;
}
.mid-c{
  text-align: center;
  padding-top: 30px;
}
.bot-c{
  text-align: center;
  background-color: #66BFBF;
  color:#11999E;
  height:126px;
  padding-top: 20px;
  margin-top: 80px;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  margin-top: 50px;
  position: relative;
  left:250px;

  width: 300px;
}
.bot-cloud{
  position: absolute;
  width:200px;
}
.code-img{
  border-radius: 50%;
   width:150px;
   height:150px;
   float:left;
   margin-right: 20px;

}
.chilli-img{
  border-radius: 50%;
   width:150px;
   height:150px;
   float:right;
   margin-left: 15px;
}
.my-img{
    border-radius: 50%;
}
.footer-link{
  font-size: 30px;
  margin-left: 20px;
}
.Skill-row{
  width: 50%;
  margin: 70px auto;
  text-align: left;
  line-height: 2;

}
.btn{
  background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #3De3cb;
    background-image: -webkit-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #3De3cb, #2bc4ad);
    text-decoration: none;
  }
a:hover{
  color:#EAF6F6;
}
.copy{
  color:#EAF6F6;
  padding:25px 0px 25px 15px;
}
.contact-message{
  width:40%;
  margin: 40px auto;
}
